body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(210, 46%, 95%);
}

@media only screen and (max-width: 900px) {
  body {
    height: 100dvh !important;
  }

  .container {
    display: flex !important;
    flex-direction: column !important;
  }

  .container__image {
    min-width: 100% !important;
  }
}

.container {
  display: flex;
  max-width: 70%;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container__image {
  width: 100%;
  max-width: 25rem;
}

.box {
  padding: 2rem;
}

.big__text {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  margin-block-end: 1rem;
}
.small__text {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.5;
  margin-block-end: 1rem;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar__image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.share {
  cursor: pointer;
}
.share__image {
  width: 2rem;
}

.share-container {
  position: relative;
}

.share-meny {
  display: none;
  position: absolute;
  top: -50px;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.share-meny img {
  width: 1.3rem;
  cursor: pointer;
}
